{% extends 'base.html.twig' %} 

{% block body %}
    {% form_theme edit_form 'form_theme_bootstrap.html.twig' %}

    <h1>Edycja obrazka</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="cropperRatio">Proporcje</label>
                <select class="form-control" id="cropperRatio" name="cropperRatio">
                    <option value="{{16/9}}">16:9</option>
                    <option value="{{4/3}}" selected>4:3</option>
                    <option value="{{1/1}}">1:1</option>
                    <option value="{{2/3}}">2:3</option>
                    <option value="NaN">Free</option>
                </select>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <img id="imageToCrop" src="/{{images_directory}}/{{image.filename}}" alt="img" />
            </div>
        </div>
    </div>

    <div class="btn-group" role="group">
        <input class="btn btn-success" type="submit" value="Zapisz" />
        <a class="btn btn-default" href="{{ path('image_index') }}">Powrót do listy</a>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

{% block stylesheets %}
    <link  href="/bundle/css/cropper.css" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="/bundle/js/cropper.js"></script>
{% endblock %}