{% extends 'base.html.twig' %} 

{% block body %}
    <h1>Obrazki</h1>
    <p>
        <a class="btn btn-primary" href="{{ path('image_new') }}">Nowy</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>  
                <th>Obraz</th>
                <th>Przycięte</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td><a href="{{ path('image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>     
                    <td>
                        <a href="{{ asset(images_directory ~ image.filename) }}" alt="fullsize" >
                            <img src="{{ asset(images_directory ~ image.filename) | imagine_filter('thumb_120x90') }}" />
                        </a>
                    </td>
                    <td>
                        {% for modfiedImage in image.modifiedImages %}
                            <a href="{{ path('image_show', { 'id': modfiedImage.id }) }}">
                                <img src="{{ asset(images_directory ~ modfiedImage.filename) | imagine_filter('thumb_64x64') }}" />
                            </a>
                        {% endfor %}
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-default" href="{{ path('image_show', { 'id': image.id }) }}">Pokaż</a>
                            <a class="btn btn-default" href="{{ path('image_edit', { 'id': image.id }) }}">Przytnij</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}
