{% extends 'base.html.twig' %} 

{% block body %}
    {% form_theme form 'form_theme_bootstrap.html.twig' %}

    <h1>Nowy obrazek</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btn-group" role="group">
        <input class="btn btn-success" type="submit" value="Utwórz" />
        <a class="btn btn-default" href="{{ path('service_index') }}">Anuluj</a>
    </div>
    {{ form_end(form) }}

{% endblock %}
