{% extends 'base.html.twig' %} 

{% block body %}
    <h1>
        Przycięty obrazek

    </h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Wspolrzedne cięcia</th>
                <td>({{ image.cropX }},{{ image.cropY }})</td>
            </tr>
            <tr>
                <th>Wymiary</th>
                <td>{{ image.cropW }}x{{ image.cropH }}px</td>
            </tr>            
            <tr>
                <th>Oryginał</th>
                <td>
                    <img src="{{ asset(images_directory ~ image.original.filename) | imagine_filter('thumb_120x90') }}" />
                    <a href="{{ asset(images_directory ~ image.original.filename) }}" alt="fullsize" >Pełny rozmiar</a>
                </td>
            </tr>            
            <tr>
                <th>Wycięte</th>
                <td>
                    <img src="{{ asset(images_directory ~ image.filename) | imagine_filter('thumb_120x90') }}" />
                    <a href="{{ asset(images_directory ~ image.filename) }}" alt="fullsize" >Pełny rozmiar</a>
                </td>
            </tr>            

        </tbody>
    </table> 

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                {{ form_start(delete_form) }}
                <a class="btn btn-default" href="{{ path('image_index') }}">Powrót do listy</a>
                <input class="btn btn-danger" type="submit" value="Usuń">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
