{% extends 'base.html.twig' %} 

{% block body %}
    <h1> 
        Obraz
    </h1>
    <table class="table">
        <tbody>

            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Obraz</th>
                <td>
                    <img src="{{ asset(images_directory ~ image.filename) | imagine_filter('thumb_64x64') }}" />
                    <a href="{{ asset(images_directory ~ image.filename) }}" alt="fullsize" >Pełny rozmiar</a>
                </td>
            </tr>
            <tr>
                <th>Przycięte</th>
                <td>
                    {% for modfiedImage in image.modifiedImages %}
                        <a href="{{ path('image_show' , {id: modfiedImage.id}) }}">
                            <img src="{{ asset(images_directory ~ modfiedImage.filename) | imagine_filter('thumb_64x64') }}" alt="fullsize" />
                        </a>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table> 

    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group">
                {{ form_start(delete_form) }}
                <a class="btn btn-default" href="{{ path('image_index') }}">Powrót do listy</a>
                <a class="btn btn-primary" href="{{ path('image_edit', { 'id': image.id }) }}">Przytnij</a>
                <input class="btn btn-danger" type="submit" value="Usuń">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
